.mainContainer {
  width: 100%;
  max-width: 70rem;
  /* border: 2px dashed black; */
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: start;
  font-size: 1.5rem;
}

.date {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  font-size: 1.2rem;
  text-align: start;
}

.role {
  font-size: 1.2rem;
  display: flex;
  justify-self: start;
}
