body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.edit {
  cursor: pointer;
}

.inputEditAvailable {
  outline: none;
  border: 0;
  resize: none;
  width: 100%;
}

input[type="text"]:disabled {
  background: white;
}
textarea:disabled {
  background: white;
  overflow: hidden;
}

.plusMinusButton {
  cursor: pointer;
}

.plusMinusButton:hover {
  color: red;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.saveAsPdfButton {
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}

.saveAsPdfButton :hover {
  color: red;
}
